Repository oneapi-src/level-zero-spec, pull requests merged in 2023-02, with the labels that each got.

#71 Clarify that zeContextMakeMemoryResident is a cross-platform API
  scripts/core/PROG.rst
Labels: documentation, API: Core

#75 Add an extension to get the kernel max group size properties.
  scripts/core/EXT_KernelMaxGroupSizeProperties.rst
  scripts/core/kernelMaxGroupSizeProperties.yml
Labels: enhancement, API: Core

#66 Explicitly state the timestamp unit for the memory bandwidth API
  scripts/sysman/memory.yml
Labels: documentation, API: Sysman

#83 Update value of ZES_MAX_RAS_ERROR_CATEGORY_COUNT macro
  scripts/sysman/ras.yml
Labels: bug, API: Sysman

#87 Fixup typo in PCI Properties extension example.
  scripts/core/EXT_PCIProperties.rst
Labels: documentation, API: Core
