Repository oneapi-src/level-zero-spec, pull requests merged in 2023-03, with the labels that each got.

#63 Extend the SYSMAN Frequency Domain list to include a MEDIA Domain
  scripts/sysman/frequency.yml
Labels: enhancement, API: Sysman

#103 Add zeCommandListHostSynchronize
  scripts/core/cmdlist.yml
Labels: enhancement, API: Core

#105 Add helper functions for IPC handle
  scripts/core/memory.yml
Labels: enhancement, API: Core

#100 Move restrictions about image buffers to under ze_image_type_t
  scripts/core/image.yml
Labels: documentation, API: Core
