Repository oneapi-src/level-zero-spec, pull requests merged in 2023-10, with the labels that each got.

#219 Clarify usage of IPC event pools
  scripts/core/event.yml
Labels: documentation, API: Core

#161 Describe Sysman extension discovery (#149)
  scripts/config.ini
  scripts/core/EXT.rst
  scripts/sysman/driver.yml
Labels: documentation, enhancement, API: Core, API: Sysman

#184 Added GPU Board Temperature Metric
  scripts/sysman/temperature.yml
Labels: enhancement, API: Sysman

#74 Deprecated feature for 2.0 update
  scripts/sysman/engine.yml
  scripts/sysman/frequency.yml
  scripts/sysman/power.yml
Labels: enhancement, API: Sysman
