Repository oneapi-src/level-zero-spec, pull requests merged in 2024-03, with the labels that each got.

#292 Fix scripts to support two digits minor version
  scripts/parse_specs.py
  scripts/run.py
Labels: enhancement

#284 Fix typo in handle index for affinity description
  scripts/core/PROG.rst
Labels: bug, documentation, API: Core

#290 Add new ELF memory space for debugger
  scripts/tools/debug.yml
Labels: enhancement, API: Tools
